<footer>
    <div class="footer-container">
        <div class="box">
            <h3>Quick Links</h3>
            <ul>
                <li>
                    <a href="/blogs">Blogs</a>
                </li>               
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
<footer class="copyright">
    <div>
        Copyright &copy; 2024.All rights reserved by cbhere.<a href="/blogs">blogs</a>
    </div>
</body>
</html>